@use '../abstracts' as *;

.btn {
	background: $primary;
	border: none;
	border-radius: 30rem;
	color: $white;
	cursor: pointer;
	font-size: .875rem;
	font-weight: 500;
	letter-spacing: .1em;
	line-height: 1;
	margin: 1.5rem auto;
	padding: 1rem 2.75rem;
	text-align: center;
	text-transform: uppercase;
	transition: transform .3s ease-in-out;
	&:hover,
	&:focus {
		transform: scale(1.1);
		text-decoration: none;
	}
}

.play-btn {
	@extend .btn;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;
	margin: 0;
	padding: 0;
	svg {
		font-size: 32px;
	}
	span {
		display: none;
	}
}
