@use '../abstracts' as *;
@use '../utilities' as *;

.card {
	position: relative;
	background-color: $gray-650;
	border-radius: $border-radius-sm;
	box-shadow: $shadow;
	min-width: 0;
	min-height: 0;
	transition: background-color .5s $ease;
	&__inner {
		border-radius: inherit;
		display: block;
		&:focus {
			box-shadow: 0 0 0 2px $gray-500;
			outline: none;
			text-decoration: none;
		}
	}
	&__image {
		border-radius: $border-radius-sm $border-radius-sm 0 0 ;
		margin: 0;
		width: 100%;
		height: auto;
		overflow: hidden;
		position: relative;
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: center;
			transition: transform .5s $ease;
		}
		button {
			display: block;
			position: absolute;
			bottom: 1rem;
			right: 1rem;
			opacity: 0;
			transform: translateY(1rem);
			transition: opacity .5s $ease, transform .5s $ease;
			&.is-active {
				opacity: 1;
				transform: translateY(0);
				svg {
					font-size: 1.75rem;
				}
			}
		}
		button:focus {
			outline: none;
			box-shadow: 0 0 0 2px $white;
		}
		&:hover button,
		button:focus {
			opacity: 1;
			transform: translateY(0);
		}
	}
	&__body {
		padding: 1rem;
		&--title,
		&--desc {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		&--title {
			font-size: 1rem;
			letter-spacing: .05em;
		}
		&--desc {
			font-size: .875rem;
			font-weight: 300;
			letter-spacing: .05em;
			margin: 0;
			text-transform: capitalize;
		}
	}
	@include mq(md) {
		border-radius: $border-radius;
		&__inner {
			border-radius: inherit;
		}
		&:hover {
			background-color: $gray-600;
			img {
				transform: scale(1.1);
			}
		}
		&__image {
			border-radius: $border-radius $border-radius 0 0 ;
		}
	}
}

.card-artist {
	.card__inner {
		padding: 1rem 1rem 0;
	}
	.card__image {
		border-radius: 0;
		margin: 0;
		position: relative;
		div {
			height: auto;
			border-radius: 50%;
			width: 100%;
			position: relative;
			overflow: hidden;
			&::after {
				content: "";
				display: block;
				padding-bottom: 100%;
			}
		}
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		button {
			z-index: 5;
		}
	}
	.card__body {
		text-align: center
	}
}

.card-playlist,
.card-category {
	.card__image {
		border-radius: $border-radius-sm;
		@include mq(md) {
			border-radius: $border-radius;
		}
	}
}

.card-category {
	.card__body {
		position: absolute;
		right: 0;
		left: 0;
		bottom: 0;
		text-align: center;
	}
}

.card-discover {
	@extend .container;
	height: initial;
	@include mq(md) {
		display: flex;
	}
	.card__image {
		@include mq(md) {
			border-radius: $border-radius 0 0 $border-radius;
			display: flex;
			flex-basis: calc(100% / 3);
			flex-grow: 1;
		}
		@include mq(lg) {
			flex-grow: 0;
			flex-basis: 320px;
		}
	}
	.card__body {
		padding: 1.5rem 1.25rem 1.25rem;
		&--title {
			font-size: $h5;
			letter-spacing: .075em;
			margin: .25em 0 0;
		}
		&--subtitle {
			font-size: .75rem;
			font-weight: 600;
			letter-spacing: .2em;
			margin: 0;
			text-transform: uppercase;
		}
		&--desc,
		&--details {
			font-size: .875rem;
			font-weight: 300;
			letter-spacing: .075em;
			margin: .75em 0 0;
			text-transform: initial;
		}
		&--desc {
			color: $white;
			overflow: initial;
			text-overflow: initial;
			white-space: initial;
		}
		@include mq(md) {
			border-radius: 0 $border-radius $border-radius 0;
			display: flex;
			flex-basis: calc(100% / 3 * 2);
			flex-grow: 1;
			flex-flow: column;
			justify-content: center;
			padding: 2rem;
			&--title {
				font-size: $h3;
				line-height: 1.2;
				margin: .5rem 0 0;
			}
			&--desc {
				font-size: 1rem;
				max-width: 65ch;
			}
		}
		@include mq(xl) {
			padding: 2.5rem;
			justify-content: flex-end;
			flex-basis: auto;
			&--title  {
				font-size: $h2;
				line-height: 1.1;
			}
			&--details {
				margin-top: 1.25em;
			}
		}
		@include mq(xl) {
			padding: 3rem;
			&--title  {
				font-size: $h1;
			}
		}
	}
}
