@use '../abstracts' as *;

.expanded-player {
	background-color: $black;
	background: linear-gradient(transparent, $black);
	color: $white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	padding: 2.5rem 3.5rem 3rem;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: translateY(100%);
	transition: transform 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	z-index: 10;
	&[aria-hidden=false] {
		transform: translateY(0);
	}
	&__header {
		text-align: center;
		position: relative;
		svg {
			position: absolute;
			top: -1.5rem;
			left: -2rem;
			&:hover {
				cursor: pointer;
			}
		}
		small {
			display: block;
			font-weight: 300;
			letter-spacing: .2em;
			text-transform: uppercase;
		}
		p {
			display: -webkit-box;
			font-weight: 600;
			letter-spacing: .05em;
			line-height: 1.4;
			max-width: 300px;
			margin: 0 auto;
			overflow: hidden;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
		}
	}
	.currently-playing {
		width: 100%;
		text-align: center;
		&__cover {
			box-shadow: 1px 4px 12px $gray-900;
			margin: 0 auto 1.5rem;
			max-width: 100%;
			height: auto;
		}
		&__details {
			margin: 0 auto;
			max-width: 300px;
			min-height: 6.25rem;
			&--track {
				display: -webkit-box;
				font-weight: 600;
				font-size: $h5;
				letter-spacing: .075em;
				line-height: 1.3;
				margin: 0;
				overflow: hidden;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
			}
			&--artist {
				display: -webkit-box;
				font-weight: 300;
				letter-spacing: 0.075em;
				line-height: 1.6rem;
				margin: .25em 0 0;
				overflow: hidden;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
			}
		}
	}
	.player-controls {
		button.toggle-play {
			padding: .75em;
			margin: 0 1rem;
			svg {
				font-size: 2.5rem;
			}
			&:hover svg {
				transform: scale(1);
			}
		}
	}

	@include mq(lg) {
		justify-content: initial;
		padding: 3.5rem 3.5rem 3.5rem;
		&__header {
			margin-bottom: auto;
			svg {
				top: 0;
				left: 0;
				&:hover {
					cursor: pointer;
				}
			}
		}
		.currently-playing {
			&__cover {
				margin: 0 auto 1.75rem;
				max-height: initial;
			}
			&__details {
				min-height: 10rem;
			}
		}
		.playback-bar {
			margin-top: auto;
		}

	}
}
