@use '../abstracts' as *;

.expanded-player {
	background-color: $black;
	background: linear-gradient(transparent, $black);
	color: $white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	padding: 3rem 3.5rem 3.5rem;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: translateY(100%);
	transition: transform 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	z-index: 10;
	&[aria-hidden=false] {
		transform: translateY(0);
	}
	&__header {
		text-align: center;
		position: relative;
		svg {
			position: absolute;
			top: -1.5rem;
			left: -2rem;
			&:hover {
				cursor: pointer;
			}
		}
		small {
			display: block;
			font-weight: 300;
			letter-spacing: .2em;
			text-transform: uppercase;
		}
		p {
			font-weight: 600;
			letter-spacing: .05em;
			line-height: 1.4;
			margin-bottom: 0;
		}
	}
	.currently-playing {
		width: 100%;
		text-align: center;
		&__cover {
			box-shadow: 1px 4px 12px $gray-900;
			margin: 0 auto 1.5rem;
		}
		&__details {
			&--track {
				font-weight: 600;
				font-size: $h5;
				margin: 0;
				letter-spacing: .075em;
			}
			&--artist {
				font-weight: 300;
				letter-spacing: 0.075em;
				line-height: 1.6rem;
				margin-bottom: 0;
			}
		}
	}
	.player-controls {
		button.toggle-play {
			padding: .75em;
			margin: 0 1rem;
			svg {
				font-size: 2.5rem;
			}
			&:hover svg {
				transform: scale(1);
			}
		}
	}

}
