@use '../abstracts' as *;
@use '../utilities' as *;

$spacing: 3rem;

.hero {
	background-color: $gray-800;
	background: linear-gradient(transparent, $gray-800);
	margin-bottom: $spacing;
	padding-top: $spacing;
	padding-bottom: $spacing;
	position: relative;
	text-align: center;
	&__inner {
		@extend .container;
	}
	&__img {
		box-shadow: 1px 4px 12px $gray-900;
		margin: 0 auto 2rem;
		max-width: 75%;
	}
	&__content {
		width: 100%;
		&--title {
			font-size: $h5;
			letter-spacing: .075em;
			margin: 0;
		}
		&--subtitle {
			display: none;
			font-size: .75rem;
			font-weight: 600;
			letter-spacing: .2em;
			text-transform: uppercase;
			margin: .5rem 0;
		}
		&--desc,
		&--details {
			font-size: .875rem;
			font-weight: 300;
			letter-spacing: .05em;
			margin: .5em 0 0;
		}
	}
	@include mq(md) {
		padding: calc(72px + 3.5rem) 0 3.5rem;
		text-align: left;
		&__inner {
			display: flex;
			align-items: flex-end;
		}
		&__img {
			max-width: 225px;
			margin: 0 2rem 0 0;
		}
		&__content {
			&--title {
				font-size: $h0;
				line-height: 1.1;
				letter-spacing: initial;
			}
			&--subtitle {
				display: initial;
			}
			&--desc {
				color: $white;
				font-size: 1rem;
				max-width: 70ch;
			}
		}
	}
	.play-btn {
		border-radius: 30rem;
		margin: 0 auto;
		position: absolute;
		right: 0;
		bottom: calc(-#{$spacing} / 2);
		left: 0;
		padding: .675rem 1.75rem;
		width: initial;
		height: initial;
		max-width: 150px;
		svg {
			font-size: 2rem;
			height: .75em;
			width: .75em;
		}
		span {
			display: block;
			margin: 0 .5rem;
		}
	}
}
