@use '../abstracts' as *;

.list-item {
	background-color: transparent;
	border-bottom: 1px solid $gray-650;
	display: flex;
	align-items: center;
	padding: .5rem .5rem;
	transition: background-color .5s ease-in-out;
	img {
		width: 45px;
		height: 45px;
	}
	&__body {
		margin: 0 1rem;
		min-width: 0;
		&--title,
		&--desc {
			font-size: 1rem;
			line-height: 1.4;
			letter-spacing: .05em;
			margin: 0;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
		&--title {
			font-weight: 600;
		}
		&--desc {
			font-size: .875rem;
			font-weight: 300;
		}
	}
	&__btn,
	button {
		background: transparent;
		border: none;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: auto;
		outline: none;
		svg {
			color: $gray-400;
			margin-left: auto;
			margin-right: .5rem;
			transition: color .5s ease-in-out;
		}
		&:hover {
			cursor: pointer;
		}
	}
	&:hover {
		background: $gray-650;
		cursor: pointer;
		svg {
			color: $white;
		}
	}
	&-artist img {
		border-radius: 50%;
	}
}
