@use '../abstracts' as *;
@use '../utilities' as *;

.now-playing-bar {
	background: $gray-700;
	position: absolute;
	right: 0;
	bottom: 80px;
	left: 0;
	width: 100%;
	z-index: 2;
	&__inner {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		padding: .75rem;
		width: 100%;
	}
	.currently-playing {
		display: flex;
		align-items: center;
		&__cover {
			width: 45px;
		}
		&__details {
			margin-left: .75rem;
			&--track,
			&--artist {
				color: $white;
				display: block;
				font-size: .75rem;
				line-height: 1.5;
				letter-spacing: .05em;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				max-width: 120px;
			}
			&--track {
				font-size: .875rem;
				font-weight: 600;
			}
		}
	}
	&:not(.desktop) .playback-bar {
		background-color: transparent;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		&__current,
		&__duration {
			display: none;
		}
		&__progress {
			border-radius: 0;
			background-color: $gray-500;
			height: 3px;
			margin: 0;
			&--bar {
				background-color: $white;
				border-radius: 0;
			}
		}
	}
	&:not(.desktop) .player-controls {
		margin-left: auto;
		button {
			margin: 0 .25rem;
			svg {
				font-size: 1.75rem;
			}
			&:first-child,
			&:last-child {
				display: none;
			}
		}
		button.toggle-play {
			padding: .375rem;
			svg {
				color: $gray-700;
				font-size: 1.375rem;
			}
		}
	}
	.expand {
		background-color: transparent;
		border: none;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		svg {
			color: $white;
		}
		&:focus,
		&:hover {
			outline: none;
		}
	}
	@include mq(lg) {
		&.desktop {
			background: $black;
			border-top: 1px solid $gray-600;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 1rem 1.75rem;
			position: fixed;
			bottom: 0;
		}
		&__column {
			display: flex;
			flex-wrap: wrap;
			flex-basis: 100%;
			flex: 1;
			&:not(:first-of-type) {
				margin-left: 2rem;
			}
		}
		.currently-playing {
			&__cover {
				width: 55px;
				height: 55px;
			}
			&__details--track,
			&__details--artist {
				max-width: 20vw;
			}
		}
		.player-controls,
		.playback-bar {
			flex-basis: 100%;
		}
		.player-controls {
			margin-bottom: .25rem;
			button.toggle-play  {
				padding: .375rem;
				svg {
					color: $black;
					font-size: 1.875rem;
				}
			}
		}
		.expand {
			margin-left: auto;
			svg {
				font-size: 1.75rem;
			}
		}
	}
}
