@use '../abstracts' as *;
@use '../utilities' as *;

.now-playing-bar.mobile {
	background: $color-darkgrey;
	height: auto;
	position: absolute;
	right: 0;
	bottom: 80px;
	left: 0;
	width: 100%;
	z-index: 2;
	.now-playing-bar__inner {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		padding: .75rem;
		width: 100%;
	}
	.currently-playing {
		display: flex;
		&__cover {
			width: 45px;
		}
		&__details {
			margin-left: .75rem;
			&--track,
			&--artist {
				color: $color-white;
				display: block;
				font-size: .75rem;
				line-height: 1.5;
				letter-spacing: .05em;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				max-width: 120px;
			}
			&--track {
				font-size: .875rem;
				font-weight: 600;
			}
		}
	}
	.playback-bar {
		background-color: $color-grey;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		&__current,
		&__duration {
			display: none;
		}
		&__progress {
			border-radius: 0;
			height: 3px;
			margin: 0;
			&--bar {
				background-color: $color-white;
				border-radius: 0;
			}
		}
	}
}

.now-playing-bar {
	.currently-playing {
		display: flex;
		&__cover {
			width: 45px;
		}
		&__details {
			margin-left: .75rem;
			&--track,
			&--artist {
				color: $color-white;
				display: block;
				font-size: .75rem;
				line-height: 1.5;
				letter-spacing: .05em;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				max-width: 120px;
			}
			&--track {
				font-size: .875rem;
				font-weight: 600;
			}
		}
	}
	.player-controls {
		margin-left: auto;
		button {
			height: 2.25rem;
			width: 2.25rem;
			margin: 0 0 0 .5rem;
			svg {
				color: $color-white;
				font-size: 1.75rem;
			}
		}
		button.play,
		button.pause {
			height: 2.25rem;
			width: 2.25rem;
			svg {
				font-size: 1.5rem;
				color: $color-darkgrey;
			}
		}
	}
	button.expand {
		background-color: transparent;
		border: none;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		svg {
			color: $color-white;
		}
		&:focus,
		&:hover {
			outline: none;
		}
	}
}

.now-playing-bar.desktop {
	background: #0e0e0e;
	border-top: 1px solid $color-darkgrey;
	display: flex;
	justify-content: space-between;
	align-items: center;
	grid-area: now-playing-bar;
	width: 100%;
	padding: 1rem;
	height: 95px;
	.now-playing-bar__column {
		display: flex;
		flex-wrap: wrap;
		flex-basis: 100%;
		flex: 1;
		&:not(:first-of-type) {
			margin-left: 2rem;
		}
	}
	.currently-playing {
		align-items: center;
		&__cover {
			width: 55px;
			height: 55px;
		}
		&__details--track,
		&__details--artist {
			max-width: 20vw;
		}
	}
	.expand {
		margin-left: auto;
		svg {
			font-size: 1.75rem;
		}
	}
	.player-controls,
	.playback-bar {
		flex-basis: 100%;
	}
	.player-controls {
		margin-bottom: .25rem;
		button {
			width: 2.25rem;
			height: 2.25rem;
			svg {
				color: $color-lightgrey;
			}
		}
		button.play,
		button.pause  {
			width: 2.5rem;
			height: 2.5rem;
			svg {
				color: #0e0e0e;
				font-size: 1.75rem;
			}
		}
	}
}
