@use '../abstracts' as *;

.playback-bar  {
	display: flex;
	align-items: center;
	&__current,
	&__duration {
		display: block;
		font-size: .75rem;
		letter-spacing: .025em;
		min-width: 40px;
		text-align: center;
	}
	&__progress {
		background-color: $gray-500;
		border-radius: 2px;
		flex-basis: 100%;
		height: 4px;
		margin: 0 1rem;
		overflow: hidden;
		&--bar {
			width: 100%;
			background-color: $primary;
			height: 4px;
			border-radius: 2px;
		}
	}
}
