@use '../abstracts' as *;

.player-controls {
	display: flex;
	justify-content: center;
	align-items: center;
	button {
		background-color: transparent;
		border: none;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 .5rem;
		padding: .25em;
		svg {
			color: $white;
			font-size: 1.5rem;
			transition: transform .5s $ease;
		}
		&:focus {
			outline: none;
		}
		&:hover svg,
		&:focus svg {
			color: $white;
			transform: scale(1.1);
		}
	}
	button.next svg,
	button.prev svg {
		font-size: 2.25rem;
	}
	button.is-active {
		position: relative;
		svg {
			color: $primary;
		}
		&:after {
			background-color: $primary;
			border-radius: 50%;
			content: '';
			height: 4px;
			width: 4px;
			position: absolute;
			bottom: -4px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	button.toggle-play {
		background-color: $white;
		border-radius: 50%;
		// width: 3rem;
		// height: 3rem;
		svg {
			color: $black;
			font-size: 2.25rem;
		}
	}
}
