@use '../abstracts' as *;

.player-controls {
	display: flex;
	justify-content: center;
	align-items: center;
	button {
		background-color: transparent;
		border: none;
		cursor: pointer;
		padding: 0;
		width: 2.75rem;
		height: 2.75rem;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 1.5rem;
		svg {
			color: $color-lightgrey;
			font-size: 2.5rem;
			transition: color .5s $ease;
		}
		&:hover svg,
		&:focus svg {
			color: $color-white;
		}
		&:focus {
			outline: none;
		}
	}
	button.play,
	button.pause {
		background-color: $color-white;
		border-radius: 50%;
		width: 3rem;
		height: 3rem;
		svg {
			font-size: 2.25rem;
			color: $color-black;
		}
	}
}
