@import url('https://use.typekit.net/rml1yom.css');
html {
	font-size: 100%;
}
body {
	color: $color-lightgrey;
	font-family: $font-family;
	font-size: $font-size-base;
	line-height: $line-height-base;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p {
	margin-bottom: 1rem;
}

h1, h2, h3, h4, h5 {
	color: $color-white;
	font-weight: $font-weight-heading;
	line-height: $line-height-heading;
	margin: 3rem 0 1.38rem;
}

h1 {
	font-size: 4.209rem;
	margin-top: 0;
}

h2 {
	font-size: 3.157rem;
}

h3 {
	font-size: 2.369rem;
}

h4 {
	font-size: 1.777rem;
}

h5 {
	font-size: 1.333rem;
}

small, .text-small {
	font-size: 0.75rem;
}
