* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body, #root {
	background: $color-black;
	// background: linear-gradient($color-dark, #212121);
	width: 100vw;
 	height: 100vh;
}

a {
	color: $color-lightgrey;
	text-decoration: none;
}

img {
	display: block;
	width: 100%;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

main {
	padding-bottom: 8rem;
}
