* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body, #root {
	background: $color-dark;
	background: linear-gradient($color-dark, #212121);
	width: 100vw;
 	height: 100vh;
}

a {
	color: $color-white;
	text-decoration: none;
}

img {
	display: block;
	width: 100%;
}
