* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: $color-darkgrey;
	width: 100vw;
	height: 100vh;
}

#app {
	position: relative;
	background: $color-black;
}

@include media(md) {
	body {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#app {
		box-shadow: 1px 4px 12px #00000072;
		width: 414px;
		height: 736px;
	}
}

a {
	color: $color-lightgrey;
	text-decoration: none;
}

img {
	display: block;
	width: 100%;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

main {
	position: relative;
	padding-bottom: 8rem;
	height: 100%;
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
	&::-webkit-scrollbar {
		display: none;
	}
}
