@import 'assets/sass/utilities/_variables.scss';

.related-artists {
	.grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1.5rem;
		list-style: none;
		margin: 1rem 0 0;
		padding: 0;
		& > * {
			display: block;
			max-width: 100%;
			min-width: 0
		}
	}
	@media screen and (min-width: $md-screen) {
		.grid {
			grid-template-columns: repeat(4, 1fr);
		}
	}
	@media screen and (min-width: $xl-screen) {
		.grid {
			grid-template-columns: repeat(6, 1fr);
		}
	}
}
