// Typography
$font-family: canada-type-gibson, sans-serif;

// Font Sizes
$font-size-base: 1rem;

// Font Weight
$font-weight-base: 400;
$font-weight-heading: 600;
$font-weight-bold: 700;

// Line height
$line-height-base: 1.75;
$line-height-heading: 1.3;

// Colors
$color-primary: #CA3E47;
$color-dark: #313131;
$color-medium: #414141;
$color-light: #525252;
$color-white: #ffff;
