@import 'assets/sass/utilities/_variables.scss';

.track-list-item {
	background: transparent;
	border-bottom: 1px solid $color-darkergrey;
	display: flex;
	align-items: center;
	padding: .5rem .5rem;
	transition: background .5s ease-in-out;
	&__image {
		height: 45px;
		width: 45px;
	}
	&__details {
		margin-left: 1rem;
		h2, p {
			font-size: 1rem;
			line-height: 1.4;
			margin: 0;
			letter-spacing: .05em;
		}
		h2 {
			font-weight: 600;
		}
		p {
			font-size: .875rem;
			font-weight: 300;
		}
	}
	svg {
		margin-left: auto;
		margin-right: .5rem;
		color: $color-darkgrey;
		transition: color .5s ease-in-out;
	}
	&:hover {
		background: $color-darkergrey;
		cursor: pointer;
		svg {
			color: $color-white;
		}
	}
}
