@import '../../assets/sass/utilities/variables';

#dashboard {
	& > .header {
		margin: 2.5rem 0 2rem;
		padding: 0 1.25rem;
		.title {
			font-size: 2.369rem;
			letter-spacing: .05em;
			margin: 0;
		}
		@media screen and (min-width: $md-screen) {
			padding: 0 2.5rem;
		}
	}
}
