@import 'assets/sass/utilities/_variables.scss';

#top-artists {
	.artists {
		padding: 0 1.5rem;
		.grid {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 1.5rem;
			list-style: none;
			margin: 1rem 0 0;
			padding: 0;
			& > * {
				display: block;
				max-width: 100%;
				min-width: 0
			}
		}
	}
	@media screen and (min-width: $md-screen) {
		.artists {
			padding: 0 2.5rem;
			.grid {
				grid-template-columns: repeat(4, 1fr);
			}
		}
	}
	@media screen and (min-width: $xl-screen) {
		.artists .grid {
			grid-template-columns: repeat(5, 1fr);
		}
	}
}
