@import 'assets/sass/utilities/_variables.scss';

#page-missing {
	padding: 0 1.25rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	img {
		max-width: 75vh;
	}
	p {
		color: $color-white;
	}
	@media screen and (min-width: $md-screen) {
		padding: 0 2.5rem;
	}
}
