@use '../abstracts' as *;

.main-view {
	position: relative;
	padding: 2.25rem 0 calc(80px + 2.5rem);
	// padding: 2.25rem 1.25rem;
	// padding-bottom: calc(80px + 2.5rem);
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
	&::-webkit-scrollbar {
		display: none;
	}
	section + section {
		margin-top: 2.25rem;
	}
	@include mq(md) {
		padding: 2.5rem 0 calc(80px + 3rem);
		// padding: 2.5rem;
		// padding-bottom: calc(80px + 3rem);
		section + section {
			margin-top: 2.5rem;
		}
	}
	@include mq(lg) {
		grid-area: main-view;
		padding-top: calc(72px + 2.5rem);

		// padding: 2.5rem;
		// padding-top: calc(72px + 2.5rem);
		min-height: 0;
		height: auto;
		width: 100%;
		section {
			margin-top: 2.5rem;
		}
	}
}
