@use '../abstracts' as *;
@use '../utilities' as *;

.list-section,
.grid-section {
	@extend .container;
	&__header {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		margin-bottom: 1rem;
		&--title {
			flex-grow: 1;
			font-size: $h6;
			font-weight: 600;
			letter-spacing: .05em;
			margin: 0;
			@include mq(md) {
				font-size: $h5;
				margin-right: .5em;
			}
		}
		&--link {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			font-size: .875rem;
			font-weight: 400;
			line-height: 1;
			letter-spacing: .1em;
			text-transform: uppercase;
			span {
				text-align: right;
				min-width: 10ch;
			}
			svg {
				margin-left: .25rem;
				font-size: 1.25rem;
				transition: transform .3s ease-in-out, color .3s ease-in-out;
			}
			&:hover {
				color: $white;
				svg {
					color: $white;
					transform: translateX(.125rem);
				}
			}
		}
	}
	&__title {
		font-size: $h5;
		letter-spacing: .05em;
		margin-bottom: .5rem;
	}
	&__list,
	&__grid {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	&__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1.25rem;
		list-style: none;
		margin: 0;
		padding: 0;
		& > * {
			display: block;
			max-width: 100%;
			min-width: 0
		}
		a:focus {
			outline: none;
			box-shadow: 0 0 0 3px $white;
		}
		@include mq(md) {
			gap: 1.5rem;
			grid-template-columns: repeat(3, 1fr);
		}
		@include mq(xxl) {
			grid-template-columns: repeat(6, 1fr);
		}
	}
}
