@import 'assets/sass/utilities/_variables.scss';

#error {
	padding: 0 1.25rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	img {
		width: 600px;
		max-width: 75vh;
	}
	p {
		margin: 1.5em 0;
		color: $color-white;
	}
	button {
		background: $color-primary;
		border: none;
		border-radius: 30rem;
		color: #ffff;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: .875rem;
		letter-spacing: .1em;
		line-height: 1;
		margin: 0 auto;
		padding: 1rem 2.75rem;
		text-align: center;
		text-transform: uppercase;
	}
	@media screen and (min-width: $md-screen) {
		padding: 0 2.5rem;
	}
}
