@import '../../assets/sass/utilities/variables';

.pagination {
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
	&__next,
	&__prev,
	&__disabled {
		display: flex;
		align-items: center;
		span {
			font-size: .875rem;
			font-weight: 400;
			letter-spacing: .1em;
			text-transform: uppercase;
			margin: 0 .5rem;
		}
		&:hover {
			cursor: pointer;
		}
		svg {
			font-size: 1.5rem;
		}
	}
	&__next *,
	&__prev * {
		color: $color-white;
	}
	&__disabled {
		visibility: hidden;
	}
}
