@import '../../assets/sass/utilities/variables';

.playlist-card {
	background: $color-darkergrey;
	height: 100%;
	text-align: center;
	position: relative;
	transition: background .5s ease-in-out;
	&__image {
		margin: 0 !important;
		width: 100%;
		height: auto;
		overflow: hidden;
		object-fit: cover;
		img {
			transition: transform .5s ease-in-out;
		}
	}
	&:hover {
		background: $color-darkgrey;
		img {
			transform: scale(1.1);
		}
	}
}
