@import '../../assets/sass/utilities/variables';

.play-button {
	background: $color-primary;
	border: none;
	border-radius: 30rem;
	color: $color-white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: .875rem;
	letter-spacing: .1em;
	line-height: 1;
	margin-left: auto;
	margin-right: auto;
	padding: .75rem 2.75rem .75rem;
	position: absolute;
	bottom: -1.5rem;
	left: 0;
	right: 0;
	text-align: center;
	text-transform: uppercase;
	transition: transform .3s ease-in-out;
	&:hover {
		transform: scale(1.1);
		cursor: pointer;
	}
	&:focus {
		outline: none;
		box-shadow: 0 0 0 1px $color-white;
	}
	svg {
		margin-right: .5rem
	}
}
