.dashboard-page {
	padding-bottom: 6.5rem;
	h1 {
		@extend h3;
		letter-spacing: .05em;
	}

	section {
		@extend .container;
		margin: 2.5rem 0;
		padding-bottom: 0;
		header {
			display: flex;
			align-items: center;
			margin-bottom: .5rem;
			h2 {
				@extend h5;
				font-weight: 600;
				margin: 0;
				letter-spacing: .05em;
			}
			svg {
				margin-left: .5rem;
				transition: transform .3s ease-in-out, color .3s ease-in-out;
			}
			a:hover + svg {
				color: $color-white;
				transform: translateX(.25rem);
			}
		}
	}
	.top-artists-grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1.5rem;
		list-style: none;
		padding: 0;
		margin: 1rem 0 0;
	}

	.top-tracks-list {
		@extend .playlists;
		.list-item {
			@extend .playlist__item;
			&__image {
				@extend .playlist__image;
			}
			&__details {
				@extend .playlist__details;
			}
		}
	}

	.discover-weekly .card {
		background: $color-darkergrey;
		transition: background .5s ease-in-out;
		margin-top: 1rem;

		&__header {
			margin-bottom: 0;
			width: 100%;
			height: auto;
			overflow: hidden;
			object-fit: cover;
			img {
				transition: transform .5s ease-in-out;
			}
		}

		&__body,
		&__footer {
			padding: 1.25rem 1.25rem .5rem;
			p {
				color: $color-white;
				font-size: .875rem;
				font-weight: 300;
				letter-spacing: .05em;
				margin: 0;
			}
		}
		&__footer {
			padding-top: 0;
			padding-bottom: 1.25rem;
			p {
				color: inherit;
			}
		}
		&:hover {
			background: $color-darkgrey;
			img {
				transform: scale(1.1);
			}
		}
	}
}

.top-artists-page,
.top-tracks-page,
.playlists-page {
	padding-bottom: 6.5rem;
	&__header {
		@extend .discography-page__header;
	}
	section {
		@extend .container;
		margin-top: 5rem;
	}
	ul {
		@extend .playlists;
		.list-item {
			@extend .playlist__item;
			&__image {
				@extend .playlist__image;
			}
			&__details {
				@extend .playlist__details;
			}
		}
	}
}

.top-artists-list img {
	border-radius: 50%;
}
