.login-page {
	@extend .container;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	text-align: center;
	padding-top: 3.5rem;
	img {
		margin-bottom: 3.5rem;
	}
	button {
		margin: 0 auto;
		font-family: $font-family;
	}
}
