@import 'assets/sass/utilities/_variables.scss';

.track-list-item {
	background: transparent;
	border-bottom: 1px solid $color-darkergrey;
	display: flex;
	align-items: center;
	padding: .5rem .5rem;
	transition: background .5s ease-in-out;
	-webkit-touch-callout: none;
  	-webkit-user-select: none;
   	-khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
	&__image {
		height: 45px;
		width: 45px;
	}
	&__details {
		margin: 0 1rem;
		min-width: 0;
		h2, p {
			font-size: 1rem;
			line-height: 1.4;
			letter-spacing: .05em;
			margin: 0;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
		h2 {
			font-weight: 600;
		}
		p {
			font-size: .875rem;
			font-weight: 300;
		}
	}
	button {
		background: transparent;
		border: none;
		outline: none;
		margin-left: auto;
		svg {
			margin-left: auto;
			margin-right: .5rem;
			color: $color-darkgrey;
			transition: color .5s ease-in-out;
		}
		&:hover {
			cursor: pointer;
		}
	}
	&:hover {
		background: $color-darkergrey;
		cursor: pointer;
		svg {
			color: $color-white;
		}
	}
}
