@import 'assets/sass/utilities/_variables.scss';

#dashboard .discover-weekly {
	background: $color-darkergrey;
	margin: 0 1.25rem 2.5rem;
	&__header {
		margin-bottom: 0;
		width: 100%;
		height: auto;
		overflow: hidden;
		object-fit: cover;
		img {
			transition: transform .5s ease-in-out;
		}
		&:hover {
			img {
				transform: scale(1.1);
			}
		}
	}
	&__body {
		padding: 1.25rem 1.25rem 0;
		.sub-title {
			font-size: .75rem;
			letter-spacing: .1em;
			text-transform: uppercase;
			margin: .5rem 0;
		}
		.title {
			font-size: 1.5rem;
			font-weight: 600;
			letter-spacing: .075em;
			margin: 0 0 .5rem;
			a {
				color: $color-white;
			}
		}
		p {
			color: $color-white;
		}
	}
	&__footer {
		padding: 1.25rem;
		p {
			color: inherit;
		}
	}
	p {
		font-size: .875rem;
		font-weight: 300;
		letter-spacing: .05em;
		margin: 0;
	}
	@media screen and (min-width: $md-screen) {
		display: grid;
		column-gap: 3rem;
		grid-template-columns: auto 1fr;
		grid-template-rows: repeat(2, auto);
		margin: 0 2.5rem 2.5rem;
		padding: 1.5rem;

		&__header {
			grid-column: span 1;
			grid-row: span 2;
			img {
				box-shadow: 1px 4px 12px #00000072;
				max-width: 300px;
			}
		}
		&__body {
			padding: 0;
			align-self: end;
			margin-bottom: 1.25rem;
			.title {
				font-size: 4rem;
				line-height: 1.1;
				margin: .5rem 0;
			}
			p {
				font-size: 1rem;
				max-width: 70ch;
			}
		}
		&__footer {
			padding: 0;
		}

	}
}

// .discover-weekly {
// 	padding: 0 1.25rem;
// 	margin: 0 0 2.5rem;
// 	.header {
// 		display: flex;
// 		align-items: center;
// 		margin-bottom: .5rem;
// 		.title {
// 			font-size: 1.333rem;
// 			font-weight: 600;
// 			letter-spacing: .05em;
// 			margin: 0;
// 		}
// 		svg {
// 			margin-left: .5rem;
// 			transition: transform .3s ease-in-out, color .3s ease-in-out;
// 		}
// 		a:hover + svg {
// 			color: $color-white;
// 			transform: translateX(.25rem);
// 		}
// 	}
// 	.card {
// 		background: $color-darkergrey;
// 		transition: background .5s ease-in-out;
// 		margin-top: 1rem;
// 		&__header {
// 			margin-bottom: 0;
// 			width: 100%;
// 			height: auto;
// 			overflow: hidden;
// 			object-fit: cover;
// 			img {
// 				transition: transform .5s ease-in-out;
// 			}
// 		}
// 		&__body,
// 		&__footer {
// 			padding: 1.25rem 1.25rem .5rem;
// 			p {
// 				color: $color-white;
// 				font-size: .875rem;
// 				font-weight: 300;
// 				letter-spacing: .05em;
// 				margin: 0;
// 			}
// 		}
// 		&__footer {
// 			padding-top: 0;
// 			padding-bottom: 1.25rem;
// 			p {
// 				color: inherit;
// 			}
// 		}
// 		&:hover {
// 			background: $color-darkgrey;
// 			img {
// 				transform: scale(1.1);
// 			}
// 		}
// 	}
// 	@media screen and (min-width: $md-screen) {
// 		padding: 0 2.5rem;
// 		.card {
// 			display: grid;
// 			grid-template-columns: auto 1fr;
// 			grid-auto-rows: auto;
// 			grid-template-areas: "image body-content" "image footer-content";
// 			column-gap: 2rem;
// 			&__header {
// 				grid-area: image;
// 				img {
// 					height: 200px;
// 					width: 200px;
// 				}
// 			}
// 			&__body {
// 				grid-area: body-content;
// 				padding: 1.5rem 1.5rem 0 0;
// 				p {
// 					font-size: 1rem;
// 				}
// 			}
// 			&__footer {
// 				grid-area: footer-content;
// 				padding: 0 1.5rem 1.5rem 0;
// 				p {
// 					font-size: 1rem;
// 				}
// 			}
// 		}
// 	}
// }
