.album-card {
	background: $color-darkergrey;
	text-align: center;
	transition: background .5s ease-in-out;
	&__header {
		margin: 0 !important;
		width: 100%;
		height: auto;
		overflow: hidden;
		object-fit: cover;
		img {
			transition: transform .5s ease-in-out;
		}
	}
	&__body {
		padding: 1rem;
		h3 {
			font-size: 1rem;
			letter-spacing: .05em;
			margin: 0;
		}
		p {
			font-size: .875rem;
			font-weight: 300;
			letter-spacing: .05em;
			margin: 0;
		}
	}
	&:hover {
		background: $color-darkgrey;
		img {
			transform: scale(1.1);
		}
	}
}
