.navbar {
	background: $color-darkergrey;
	border-top: 1px solid $color-black;
	height: 80px;
	padding-top: 1rem;
	padding-bottom: 1rem;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;

	ul {
		display: flex;
		list-style: none;
		padding: 0;
		margin: 0;
		justify-content: space-between;
		a {
			color: $color-lightgrey;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			svg {
				color: $color-white;
				transition: color .5s ease-in-out, transform .5s ease-in-out;
			}
			small {
				font-size: .75rem;
				letter-spacing: .1em;
				font-weight: 300;
				margin-top: .5rem;
				text-transform: uppercase;
			}
			&.active {
				small {
					color: $color-white;
					font-weight: 500;
				}
			}
			&:hover svg {
				color: $color-primary;
				transform: scale(1.1);
			}
		}
	}
}
