.now-playing-bar {
	position: absolute;
	right: 0;
	bottom: 80px;
	left: 0;
	background: $color-darkgrey;
	border-top: 1px solid $color-black;
	z-index: 5;
	height: 80px;

	.progress-bar {
		height: 3px;
		flex-basis: 100%;
		background-color: $color-grey;
		&__wrapper {
			width:100%;
			overflow: hidden;
			height: 3px;
		}
		&__progress {
			width: 100%;
			height: 3px;
			background-color: $color-white;
			// transform: translateX(-100%);
		}
	}
	&__inner {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 1rem;
	}
	img {
		max-width: 45px;
	}

	.current-track {
		margin-left: 1rem;
		small {
			color: $color-white;
			display: block;
			line-height: 1.5;
			letter-spacing: .05em;
			&:first-of-type {
				font-weight: 600;
			}
		}
	}
	.icons {
		color: $color-white;
		margin-left: auto;
		> * {
			margin-left: 1rem;
		}
	}
}
