.page-header {
	background-color: $color-darkergrey;
	border-bottom: 1px solid $color-darkgrey;
	display: flex;
	align-items: center;
	margin-bottom: 1.5rem;
	padding: 1rem 1.5rem;
	position: sticky;
	top: 0;
	right:0;
	left: 0;
	z-index: 10;
	h1 {
		font-size: 1rem;
		letter-spacing: .05em;
		margin: 0;
		text-transform: capitalize;
	}
	svg {
		font-size: 1rem;
		margin-right: 1rem;
		margin-left: .5rem;
		&:hover {
			cursor: pointer;
		}
	}
}
