.playlists {
	list-style: none;
	margin: 0;
	padding: 0;

	.playlist__item {
		background: transparent;
		display: flex;
		align-items: center;
		border-bottom: 1px solid $color-darkergrey;
		padding: .5rem .5rem;
		transition: background .5s ease-in-out;

		&:hover {
			background: $color-darkergrey;
			svg {
				color: $color-white;
				transform: translateX(.25rem)
			}
		}

		svg {
			margin-left: auto;
			margin-right: .5rem;
			color: $color-darkgrey;
			transition: transform .5s ease-in-out, color .5s ease-in-out;
		}
	}
	.playlist__image {
		width: 45px;
		height: 45px;
	}
	.playlist__details {
		margin-left: 1rem;
		h2, p {
			font-size: 1rem;
			line-height: 1.4;
			margin: 0;
			letter-spacing: .05em;
		}
		h2 {
			font-weight: 600;
		}
		p {
			font-size: .875rem;
			font-weight: 300;
		}
	}
}

.track-list {
	@extend .playlists;
	padding-top: 2.5rem;
	padding-bottom: 6.5rem;
	&__item {
		@extend .playlist__item;
		&:hover svg {
			transform: initial !important;
		}
		&:last-child {
			border-bottom: none;
		}
	}
	&__image {
		@extend .playlist__image;
	}
	&__details {
		@extend .playlist__details;
	}
}

.playlist {
	&__header {
		background-color: $color-darkergrey;
		position: relative;
		&__inner {
			@extend .container;
			padding-top: 3rem;
			padding-bottom: 3rem;
			text-align: center;
			position: relative;
			img {
				box-shadow: 1px 4px 12px #00000072;
				max-width: 75%;
				margin: 0 auto 2rem;
			}
			h1 {
				font-size: 1.333rem;
				letter-spacing: .075em;
				margin: 0;
			}
			p {
				font-weight: 300;
				letter-spacing: .025em;
				margin-bottom: 0;
			}
			svg {
				color: $color-white;
				position: absolute;
				top: 1.5rem;
				left: 1.5rem;
			}
		}
	}
	&__play-btn {
		@extend .btn;
		position: absolute;
		bottom: -1.5rem;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
	}
}
