@use 'sass:map';
@use 'colors' as *;
@use 'functions' as *;

/* Type scale ratio*/
$ratio: 1.250;

/* Typography */
$font-family: canada-type-gibson, sans-serif;
$body-font-size: 1rem;

$small: $body-font-size / $ratio;
$h6: $body-font-size * $ratio;
$h5: $h6 * $ratio;
$h4: $h5 * $ratio;
$h3: $h4 * $ratio;
$h2: $h3 * $ratio;
$h1: $h2 * $ratio;
$h0: $h1 * $ratio;

/* Colors */
$primary: map.get($colors, 'primary');
$secondary: map.get($colors, 'secondary');
$black: color(0);
$gray-900: color(5);
$gray-800: color(7);
$gray-700: color(10);
$gray-650: color(12.5);
$gray-600: color(15);
$gray-500: color(20);
$gray-400: color(25);
$gray-300: color(50);
$gray-200: color(75);
$gray-100: color(95);
$white: color(100);

/* Breakpoints */
$sm-screen: 640px;
$md-screen: 768px;
$lg-screen: 1024px;
$xl-screen: 1280px;

/* Misc */
$border-radius: 1rem;
$border-radius-sm: .5rem;
$shadow: 0 .875rem 1.75rem rgba($black,.25), 0 .625rem .625rem rgba($black,.25);
$ease: cubic-bezier(.57,.21,.69,1.25);
