@import 'assets/sass/utilities/_variables.scss';

#search {
	.search__header {
		margin: 2.5rem 0 2rem;
		padding: 0 1.25rem;
		&--title {
			font-size: 2.369rem;
			letter-spacing: .05em;
			margin: 0;
		}
		@media screen and (min-width: $md-screen) {
			padding: 0 2.5rem;
		}
	}
	.search-field {
		padding: 0 1.25rem;
		margin-bottom: 2.5rem;
		&__form {
			position: relative;
			&--input {
				color: $color-black;
				font-family: $font-family;
				font-size: .875rem;
				font-weight: 300;
				letter-spacing: .025em;
				padding: .375rem 3rem;
				height: 40px;
				width: 100%;
				border: 0;
				border-radius: 30rem;
				text-overflow: ellipsis;
				position: relative;
				&::placeholder {
					color: $color-black;
					font-family: $font-family;
					font-size: .875rem;
					font-weight: 300;
					letter-spacing: .025em;
				}
				&:focus {
					outline: none;
					box-shadow: 0 0 0 2px $color-lightgrey;
				}
			}
			&--icon {
				display: flex;
				align-items: center;
				height: 40px;
				pointer-events: none;
				position: absolute;
				top: 0;
				right: .75rem;
				bottom: 0;
				left: .75rem;
				svg {
					color: $color-darkgrey;
				}
			}
		}
		@media screen and (min-width: $md-screen) {
			padding: 0 2.5rem;
		}
	}
}
