@import-normalize; /* bring in normalize.css styles */

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: canada-type-gibson, sans-serif;
}

/* Utilities */
@import 'utilities/variables';
@import 'utilities/functions';
@import 'utilities/mixins';

/* Base */
@import 'base/reset';
@import 'base/global';
@import 'base/typography';

/* Layout */
// @import 'layout/';

/* Components */
@import 'components/buttons';
@import 'components/container';
@import 'components/navbar';
@import 'components/now-playing-bar';
@import 'components/now-playing-modal';
@import 'components/playlists';

/* Pages */
@import 'pages/login';

/* Themes */
// @import 'themes/';
